{% extends './introduction.html' %}

{% block content %}
  <div class="col-span-5 relative flex">
    <img src="{{ profile_image.url }}" alt="Profile Image" class="profile-image" />
    <div class="absolute bottom-64 left-16 h-64 w-64 text-5xl break-normal text-white border-b-2 border-neutral-100" style="font-family: 'Oswald, sans-serif;'">Hello, I'M {{profile.name}}</div>
    <div class="absolute bottom-64 left-16 h-24 w-54 pt-8 text-2xl text-white border-t-2" style="font-family: 'Oswald, sans-serif;'">{{profile.designation}}</div>
  </div>

  <div class="grid col-span-4 gap-0">
    <div class="mb-0 mt-5">
      <h1 class="text-4xl mt-5 mb-0 font-bold border-b-indigo-500" style="font-family: 'Roboto, sans-serif;'">ABOUT</h1>
      <div class="w-24 h-2 ml-2 mt-3 mb-8 bg-yellow-500"></div>

      {% for i in about %}
      <li class="grid justify-items-start list-none hover:text-amber-300 border-b-2 border-neutral-100 pb-3 pt-3 text-sm">
        <a href="#">{{i.name}} : {{ i.value}}</a>
      </li>
      {%endfor%}
      <h1 class="text-lg mt-7 mb-0 font-bold border-b-indigo-500" style="font-family: 'Roboto, sans-serif;'" onclick="skill_page()">PROFFETIONAL PROFILE</h1>
      <li class="grid justify-items-start list-none border-b-2 border-neutral-100 pb-3 pt-3 text-sm">
        <a href="#" onclick="skill_page()">Experienced Full Stack developer with {{  time_difference }} Months of expertise in web application development, structurized backend design, and integration</a>
      </li>
      <button class="border-2 mt-8 mb-6 border-red-500 hover:bg-red-500 p-2 w-64" onclick="download_resume()" target="_blank">Download Your Resume <i class="fa-solid fa-download"></i></button>
      <img src="http://themezaa.com/html/resume/default/images/signature.jpg" alt="Profile Image" class="profile-image" />
    </div>
  </div>

  <script>
    function skill_page() {
     // window.location.href = './skills'

    }
    function download_resume() {
      //window.location.href = '/download/{{ id }}'
    }
  </script>
  <script>
    const toggleButton = document.getElementById('dropdown-toggle');
    const dropdownMenu = document.getElementById('dropdown-menu');
  
    toggleButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });
  
    window.addEventListener('click', (event) => {
        if (!toggleButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
  </script>
{% endblock %}
